/*About-me-------------------About-me*/

.about-me {
  width: 100%;
  height: 300px;
  margin-top: var(--Space-Section);
}
.about-me__container {
width: 100%;
}
.about-me__title {
  @extend %title-last-section;
}
.about-me__description p {
  @extend %description-last-section;
  a {
    color: var(--Color-Primary);
    text-decoration: underline;
  }
}
