/*Variables*/

:root {

  /*Colors*/
  --Color-Primary: #2B2B28;
  --White: #FFF;

  /*Fonts*/
  --Font-Primary: 'Noto Sans JP', Helvetica;

    /*Weith*/
    --Font-Weight-Light: 300;
    --Font-Weight-Regular: 400;

    /*Size*/
    --Font-Size-Mini: 14px;
    --Font-Size-One: 16px;
    --Font-Size-Two: 20px;
    --Font-Size-Three: 30px;
    --Font-Size-Four: 40px;
    --Font-Size-Five: 70px;

    /*Margin*/
    --Space-Section: 100px;
    --Space-Project: 50px;
    --Margin-Titles: 50px;

    /*Line-Heigh*/
    --Line-Height: 20px;
}